{% extends "esi_players/base_generic.html" %}
{% load static %}


{% block content %}
     {% block title %}<title>Profile</title>{% endblock %}

    {% if user.is_authenticated %}
        <div class="container">

        <h2> Your Portfolio </h2>

            <div class="row">
        <div class="col-sm-3">Player</div>
        <div class="col-sm-3">Quantity</div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>

        {% for future in futures %}

            <div class="row">
        <img alt="player image" src=" {{ future.asset.player.images.thumbnail }}" class="img-fluid img-profile rounded-circle" />
        <div class="col-sm-3">{{ future.asset.player.ign }}</div>
        <div class="col-sm-3">{{ future.quantity }}</div>
        <div class="col-sm-3"><a href=" {% url 'player' future.asset.player.id %}" class="btn btn-light btn-icon-split">
                          <span class="icon text-gray-600">
                              <i class="fas fa-arrow-right">

                              </i>
                          </span>
                          <span class="text"> view {{ future.asset.ign }} Profile</span>

                      </a></div>
    </div>

        {% endfor %}


</div>
    {% endif %}

{% endblock %}