{% extends template %}



{% block content %}
     {% block title %}<title>Esports Player Index</title>{% endblock %}
{% load static %}

    {% block css %}
        <link href="{% static 'esi_players/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
             <!-- Page level plugins -->
  <script src="{% static 'esi_players/vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'esi_players/vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'esi_players/js/demo/datatables-demo.js'%}"></script>

    {% endblock css %}


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Player Rankings</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>In Game Name</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                        <th>Profile</th>
                        <th>Buy</th>
                        <th>Sell</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% if assets %}

                      {% for asset in assets %}
                    <tr>
                      <td><img  src="{{ asset.player.images.thumbnail }}" class="img-fluid img-profile "></td>
                      <td>{{ asset.player.ign }}</td>
                      <td>{{ asset.player.first_name }}</td>
                      <td>{{ asset.player.last_name }}</td>
                      <td> <a href=" {% url 'player' asset.player.id %}" class="btn btn-light btn-icon-split">
                          <span class="icon text-gray-600">
                              <i class="fas fa-arrow-right">

                              </i>
                          </span>
                          <span class="text"> view {{ asset.player.ign }} Profile</span>

                      </a></td>
                    <td><a href="{% url 'buy' asset.player.id %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-money"></i>
                    </span>
                    <span class="text">£{{asset.value }}</span>
                  </a></td>
                    <td><a href="{% url 'sell' asset.player.id %}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-money"></i>
                    </span>
                    <span class="text">£{{ asset.value }}</span>
                  </a></td>
                    </tr>
                      {% endfor %}
                  {% else %}
                      <p>No Players Available</p>
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

    {% block js %}


    {% endblock js %}


{% endblock %}