{% extends "esi_players/base_generic.html" %}
{% load static %}


{% block content %}
    {% block title %}<title>Esports Player Index</title>{% endblock %}


    <!-- Custom Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    {% block css %}

    {% endblock css %}

    <!-- Players -->

    <div class="container-fluid">

        {% if assets %}

            <div class="row">
                {% for asset in assets %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-md-3">


                            <div class="card">
                                <img class="card-img-top" href="" src="{{ asset.player.images.default }}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ asset.player.ign }}</h5>


                                    <button class="bs-modal btn btn-success btn-icon-split "
                                            data-form-url="{% url 'transaction_form' 'Buy' asset.player.id %}"
                                            type="button"
                                            name="button">
                                        <span class="icon text-white-50">
                                             <i class="fas fa-money"></i>
                                         </span>
                                        <span class="text">£{{ asset.value }}</span>
                                    </button>

                                    <button class="bs-modal btn btn-danger btn-icon-split "
                                            data-form-url="{% url 'transaction_form' 'Sell' asset.player.id %}"
                                            type="button"
                                            name="button">
                                        <span class="icon text-white-50">
                                          <i class="fas fa-money"></i>
                                        </span>
                                        <span class="text">£{{ asset.value }}</span>
                                    </button>


                                    <a href=" {% url 'player' asset.player.id %}"
                                       class="card-link btn btn-light btn-icon-split">
                          <span class="icon text-gray-600">
                              <i class="fas fa-arrow-right">

                              </i>
                          </span>
                                        <span class="text"> view {{ asset.player.ign }} Profile</span>

                                    </a>

                                </div>
                            </div>


                        </div>
                        </div>
                          <br/>
                        <div class="row">

                    {% else %}

                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" href="" src="{{ asset.player.images.default }}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ asset.player.ign }}</h5>
                                    <p class="card-text"> Random shit</p>

                                    <button class="bs-modal btn btn-success btn-icon-split "
                                            data-form-url="{% url 'transaction_form' 'Buy' asset.player.id %}"
                                            type="button"
                                            name="button">
                    <span class="icon text-white-50">
                      <i class="fas fa-money"></i>
                    </span>
                                        <span class="text">£{{ asset.value }}</span>
                                    </button>

                                    <button class="bs-modal btn btn-danger btn-icon-split "
                                            data-form-url="{% url 'transaction_form' 'Sell' asset.player.id %}"
                                            type="button"
                                            name="button">
                    <span class="icon text-white-50">
                      <i class="fas fa-money"></i>
                    </span>
                                        <span class="text">£{{ asset.value }}</span>
                                    </button>


                                    <a href=" {% url 'player' asset.player.id %}"
                                       class="card-link btn btn-light btn-icon-split">
                          <span class="icon text-gray-600">
                              <i class="fas fa-arrow-right">

                              </i>
                          </span>
                                        <span class="text"> view {{ asset.player.ign }} Profile</span>

                                    </a>

                                </div>
                            </div>


                        </div>


                    {% endif %}


                {% endfor %}
        {% else %}
            <p> No Players</p>

        {% endif %}
        </div>



        <!-- DataTales Example -->


        {% block js %}

            <script type="text/javascript">
                $(function () {

                    $(".bs-modal").each(function () {
                        $(this).modalForm(
                            {
                                formURL: $(this).data("form-url")
                            });


                        // Hide message
                        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                            $(".alert").slideUp(500);
                        });
                    });
                });
            </script>



        {% endblock js %}


{% endblock %}